body{
    background-color: bisque;
}

.img-responsive{
    height: 300px;
    width: 200px;
    box-shadow: 5px 5px 20px black ;
}

ol{
    list-style-type: none;
}

#final_conclusion_display{
    font-size: 23px;
}

marquee{
    font-size: 20px;
    color: blue;
    width: 400px;
}